@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
    min-width: 320px;
}

header.index {
    width: 100%;
    height: 100vh;
    background-image: url(../img/background_ipad.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header.index>* {
    position: absolute;
}

header.index h1 {
    top: 50vh;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
}

header.index a {
    display: block;
    bottom: 3vw;
    right: 5vh;
    width: 25vw;
    height: 8vh;
    text-decoration: none;
    text-align: center;
    line-height: 8vh;
    font-weight: 700;
    font-size: 1.5rem;
    color: #2E2E40;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.4);

}

header.index a:hover {
    font-weight: 800;
    font-size: 1.5rem;
    color: #2E2E40;
    font-weight: 700;
    background-color: rgba(242, 218, 189, 0.5);

}


main.witaj {
    width: 70%;
    height: 85vh;
    margin: 0 auto;
}

main.witaj h3 {
    font-size: 3rem;
    margin: 5% 0;
}

main.witaj p {
    font-size: 2rem;
}

section.login {
    margin: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50vh;

}

section.login input {
    display: block;
    margin: 2vh;
    width: 30vw;
    height: 5vh;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

section.login input[type="submit"] {
    background-color: #81A2EF;
    border: 0;
    height: 5vh;
    border-radius: 1vw;
    color: white;
    font-size: 2.5vh;

}

/* tymczasowy button */
section.login a[href] {
    display: block;
    background-color: #81A2EF;
    border: 0;
    height: 5vh;
    border-radius: 1vw;
    color: white;
    font-size: 2.5vh;
    width: 30vw;
    text-align: center;
    line-height: 5vh;
    text-decoration: none;
    margin: 0 auto;
}

/* end */


footer {
    display: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5vh;
    margin-top: 5vh;
}

footer p {
    text-align: center;
    font-size: 1.5rem;
}


/* Glowna podstrona */

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.head {
    display: flex;
    height: 7vh;
    justify-content: center;
    background-color: #2E2E40;
    align-items: center;
    flex-basis: 8vh;
    z-index: 2;
}

.head a {
    font-size: 4vh;
    font-weight: 800;
    letter-spacing: 4px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

.head a:hover {
    color: #81A2EF;
}

div.burger {
    position: absolute;
    left: 0;
    top: 0;
    margin: 2px 10px;
    font-size: 6vh;
    cursor: pointer;
    color: white;
    z-index: 2;
}

div.sign {
    position: absolute;
    right: 0;
    top: 1vh;
    margin: 2px 10px;
    font-size: 6vh;
    cursor: pointer;
    color: white;
    z-index: 2;
}

div.burger:hover {
    color: #81A2EF;
}

aside {
    position: fixed;
    height: 100vh;
    width: 20%;
    left: -20%;
    background-color: #81A2EF;
    transition: 0.3s;
    z-index: 1;
}

aside nav ul {
    list-style-type: none;
    margin-top: 10ch;
}

aside nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 10px 0;
}

aside nav ul li:hover a {
    color: #81A2EF;
    background-color: rgba(255, 255, 255, 0.7);

}

.show {
    left: 0%;
}

.see {
    display: none;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    min-height: 600px;
    flex: 1;
}

.add {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-content: space-around;
    flex: 1;
    flex-basis: 100%;

}

.add>* {
    margin: 2vh 0 0 0;
    padding: 1vh;
    border: 2px solid #81A2EF;
}


.set {
    flex-basis: 15vh;
    margin: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.set a {
    flex-basis: 80vw;
    text-decoration: none;
    color: #2E2E40;
    font: 2.3rem sans-serif;
    text-align: center;
    padding: 5vh;
    box-shadow: 0px 0px 5px 4px #2E2E40;
}



.set a:hover {
    box-shadow: 0px 0px 18px 5px rgba(129, 161, 237, 1);
}

.cntr {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cntr>input,
.cntr>select {
    margin-top: 3vh;
    width: 50%;
    height: 10vh;
    font: 2.3rem sans-serif;
    text-align: center;
    background-color: white;
    border: 1px solid gray;
}



.opt>* {
    background-color: rgba(46, 46, 64, .8);
    color: white;
    font-size: 2rem;
}


.cntr>input[type="submit"] {
    background-color: transparent;
    border: 2px solid #2E2E40;
    border-radius: 5px;
    color: #2E2E40;
    font-size: 2rem;
    width: 40vh;
    height: 8vh;
}

input[type="text"],
input[type="password"] {
    font-size: 2rem;
}

.cntr>input[type="submit"]:hover {
    background-color: rgba(46, 46, 64, .9);
    border: 2px solid rgba(46, 46, 64, .9);
    color: white;
}

.cntr>div {
    margin-top: 3vh;
    text-align: center;
    font: 2.5rem sans-serif;
}


.fiszka {
    width: 80vw;
    height: 80vh;
    box-shadow: 0px 0px 5px 4px #2E2E40;
    z-index: 0;
    position: relative;
    text-align: center;
    transition: transform 0.6s linear;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}



.polish,
.english {
    position: absolute;
    backface-visibility: hidden;
    padding: 5%;
}

.english {
    transform: rotateY(180deg);
}

.rotate {
    transform: rotateY(180deg);
}

.akp {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

.name {
    text-align: center;
    margin-top: 3vh;
}

.desc {
    text-transform: uppercase;
    font-weight: 400;
    color: gray;
    font-size: 1rem;
}

.plus>.fa-plus {
    display: block;
    font-size: 3rem;
    color: gray;
}

.plus>.fa-plus:hover {
    display: block;
    font-size: 3rem;
    color: black;
}

.link_reset {
    text-decoration: none;
    color: #2E2E40;
}

.edit_set {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
    margin-top: 15px;

}

.flex-row>* {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.flex-row>p {
    flex-basis: 40%;
    flex-grow: 1;
}

.flex-row>a {
    line-height: 100%;
}

.flex-row>.trash {
    min-width: 50px;

}

.flex-row>.trash:hover i {
    color: rgba(0, 0, 0, 0.5)
}

@media (max-width: 1025px) {

    section.login input {
        width: 40vw;
        height: 5vh;
    }

    footer p {
        font-size: 1rem;
    }
}

@media (max-width: 760px) {
    main.witaj {
        height: 90vh;
    }

    main.witaj h3 {
        font-size: 1.75rem;
        text-align: center;
    }

    main.witaj p {
        font-size: 1.3rem;
        text-align: center;

    }

    section.login input {
        width: 60vw;
        height: 8vh;
    }

    header.index a {
        right: 5vw;
        left: 5vw;
        width: 90vw;
    }
}

@media(max-width:1025px) {
    aside {
        width: 40%;
        left: -40%;
    }
}

@media(max-width:900px) {
    aside {
        width: 100%;
        left: -100%;
        padding-top: 10px;
    }
}



@media(max-width: 760px) {
    .set a {
        flex-basis: 100vw;
        font: 1.3rem sans-serif;
    }
}

@media(max-width: 760px) {

    .cntr>input,
    .cntr>select {
        width: 80%;
        font-size: 1.6rem;
    }

    .add {
        width: 80%;
    }

    .cntr>div {
        font-size: 1.5rem;
    }
}

@media(max-width:1000px) {

    .fiszka {
        width: 80vw;
        height: 60vh;
    }

    .polish,
    .english {
        font-size: 1.4rem;
    }
}

@media (max-width: 760px) {
    .flex-row {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}